.row-lock {
	position: absolute;
	width: 100%;
	opacity: 0.03;
	background-color: black;
	height: inherit;
	transform: translateY(-50%); /* Center vertically */
}

.editLock {
	position: absolute;
	right: 10px;
	transform: translateY(-50%); /* Center vertically */
	cursor: pointer;
	opacity: 0.7;
}
